@tailwind base;
@tailwind components;
@tailwind utilities;

@layer {
  html {
    @apply scroll-smooth overflow-x-hidden bg-dark !important;
  }
  body {
    @apply overflow-x-hidden;
  }

  section {
    @apply max-w-[1400px] m-auto py-20 text-white text-center;
  }

  h2 {
    margin-bottom: 2rem !important;
    font-size: 2rem !important;
    font-weight: 600 !important;
  }

  h3 {
    font-size: 1.5rem !important;
    font-weight: 600 !important;
  }

  
  p{
    font-weight: 300 !important;
  }
  
  button{
    font-weight: 600 !important;
    
  }
}
